fastapi==0.115.12
uvicorn[standard]==0.34.0
pydantic==2.11.3
pydantic-settings==2.8.1
SQLAlchemy==2.0.40
psycopg2-binary==2.9.10
alembic==1.15.2
celery[redis]==5.5.0
redis==5.2.1
requests==2.32.3
python-multipart==0.0.20
minio==7.2.15
sse-starlette==2.2.1
email-validator==2.2.0
